.buttons {
    margin-top: 40px;
    position: relative;
    height: 120px;
    width: 320px;   /* gives horizontal space */
    margin-left: auto;
    margin-right: auto;
}

.yes {
    background: #e91e63;
    color: white;
    position: absolute;
    left: 0;
    top: 30px;
}

.no {
    background: gray;
    color: white;
    position: absolute;
    right: 0;
    top: 30px;
    cursor: not-allowed;
}

