.buttons {
    margin-top: 50px;
    position: relative;
    height: 180px;
    width: 500px;       /* much wider */
    margin-left: auto;
    margin-right: auto;
}

button {
    font-size: 20px;
    padding: 15px 35px;   /* space INSIDE buttons */
    border: none;
    border-radius: 40px;
}

.yes {
    background: #e91e63;
    color: white;
    position: absolute;
    left: 0;
    top: 60px;
    transition: transform 0.3s ease;
}

.no {
    background: gray;
    color: white;
    position: absolute;
    right: 0;
    top: 60px;
    cursor: not-allowed;
}
